@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.093);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  display: flex;
  position: relative;
  color: #fff;
  z-index: 1;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 100px;
  padding-right: 80px;
  padding-bottom: 173px;
}

.about__title {
  max-width: 251px;
  margin: 0;
  margin-left: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
}

.about__content {
  max-width: 660px;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.about__paragraph:last-of-type {
  padding-bottom: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
